@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: monospace;
  font-family: 'Poppins', sans-serif;
  

}
nav{
    background:rgb(2, 3, 65);
      border-radius: 10px;
      margin-bottom: 60px;
    }
    nav:after{
      content: '';
      clear: both;
      display: table;
    }
    nav .logo img{
      float: left;
    
      height: 70px;
    
     line-height: 70px;
      padding-left: 80px;
    }
    nav ul{
      float: right;
      margin-right: 40px;
      list-style: none;
      position: relative;
    }
    nav ul li{
      
      display: inline-block;
      background:rgb(2, 3, 65);
      margin: 0 5px;
    }
    nav ul li a{
      color: rgba(231, 235, 227, 0.877);
      line-height: 70px;
      text-decoration: none;
      font-size: 18px;
      padding: 8px 15px;
      background-color:transparent;
      
    }
    nav ul li a:hover{
      color:rgb(235, 231, 16);
      border-radius: 5px;
      box-shadow:  0 0 5px #33ffff,
                   0 0 10px #66ffff;
    }
    nav ul ul li a:hover{
      box-shadow: none;
      border-radius: 10px;
    }
    nav ul ul{
      position: absolute;
      top: 90px;
      border-top: 3px solid rgb(86, 75, 236);
      opacity: 0;
      visibility: hidden;
      transition: top .3s;
      
    }
    nav ul ul ul{
      border-top: none;
    }
    nav ul li:hover > ul{
      top: 70px;
      opacity: 1;
      visibility: visible;
      
    }
    nav ul ul li{
      position: relative;
      margin: 0px;
      width: 150px;
      float: none;
      display: list-item;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      border-radius: 10px;
    }
    nav ul ul li a{
      line-height: 50px;
      
    }
    nav ul ul ul li{
      position: relative;
      top: -60px;
      left: 150px;
      border-radius: 10px;
    }
    .show,.icon,input{
      display: none;
    }
    .fa-plus{
      font-size: 15px;
      margin-left: 40px;
    }
    @media all and (max-width: 968px) {
      
            
        nav ul{
        margin-right: 0px;
        float: left;
      }
      nav .logo img{
        margin-left: 0;
      padding-left: 10px;
      }
      .show + a, ul{
        display: none;
      }
      nav ul li,nav ul ul li{
        display: block;
        width: 100%;
      }
      nav ul li a:hover{
        box-shadow: none;
      }
      .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
      }
      .show:hover{
        color: rgb(105, 206, 206);
      }
      .icon{
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
      }
      nav ul ul{
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
      }
      nav ul ul a{
        padding-left: 40px;
      }
      nav ul ul ul a{
        padding-left: 80px;
      }
      nav ul ul ul li{
        position: static;
      }
      [id^=btn]:checked + ul{
        display: block;
      }
      nav ul ul li{
        border-bottom: 0px;
      }
      span.cancel:before{
        content: '\f00d';
      }
    }
    .diva{
        align-content: center;
        padding: 10px;
        margin: 20px;
         background-color: rgb(218, 215, 221);
        border-radius: 60px;
        margin-bottom: 100px;
      
      }
     
 .diva p{
        direction: rtl;
        font-size: 20px;
        color: rgb(39, 38, 38);
        font-family: 'Poppins', sans-serif;
        margin-right: 20px;
      }
 .container{
     margin-top: 100px;
   
 } 

.row{
  width: 100%;
  height: 100vh;
  margin: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.canal{
  flex-basis: 45%;
  
}
.slido{
  height: 80vh;
  display: flex;
}
.product img{
  height: 19vh;
  margin-bottom: 9px;
  cursor: pointer;
  opacity: 0.6;
}

.product img:hover{
  opacity: 1;
}


.preview img{
  height: 100%;
}


 .newarrival{
     background: green;
     width: 30px;
     color: white;
     font-size: 12px;
     font-weight: bold;
 } 
 .col-md-7 h2{
     color:#555;
 } 
 .stars{
   height: 35px;
 } 
 .price{
     color: rgb(67, 10, 141);
     font-size: 26px;
     font-weight: bold;
     padding-top: 20px;
     
 }
.col-md-7 a{
    text-decoration: none;
    color: green;
    background: rgb(233, 204, 77);
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

    footer {
	
        text-align: center;
        width: 100%;
        height: auto;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
      border-radius: 10px 10px 85% 85% / 30%;
      margin-top: 60px;
        
    }
    footer .overlay{
        width: 100%;
        margin-top: 60px;
        padding: 50px;
        color: rgb(52, 56, 54);
        text-shadow: 1px 1px 1px #333;
     background-image: linear-gradient( 135deg, #17171869 10%, #0707746b 100%);
      text-align: center;
        
    }
    
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        margin-bottom: 30px;
    }
    .sada{
      width: 150px;
      height: 100px;
    }
    
    
    h3, p {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 30px;
    }
    
    .content-ad{
      display: flex;
      flex-basis: 50%;
      padding: 10px 20px;
      margin: 20px 0 0 0;
      position: relative;
      text-align: center;
    }
    
    .content-ad:before{
      position: absolute;
      content: '';
      top: -10px;
      height: 2px;
      width: 100%;
      background: #1a1a1a;
    }
    .content-ad:after{
      position: absolute;
      content: '';
      height: 2px;
      width: 15%;
      background: #f12020;
      top: -10px;
    }
    .content-ad p{
      text-align: justify;
    }
      .social{
      margin: 20px 0 0 0;
    }
    .social a{
      padding: 0 2px;
    }
    .social a span{
      height: 40px;
      width: 40px;
      background: #1a1a1a;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      border-radius: 5px;
      transition: 0.3s;
    }
     .social a span:hover{
      background: #f12020;
    }
    
    .bottom center{
      padding: 5px;
      font-size: 0.9375rem;
      background: #647c6e;
      margin-bottom: 5px;
      border-radius: 10px;
    }
    .bottom center span{
      color: #c0a9a9;
    }
    .bottom center a{
      color: #f12020;
      text-decoration: none;
    }
    .bottom center a:hover{
      text-decoration: underline;
    }
    
    button {
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 50px;
        color: #333;
        background: #fff;
        margin-bottom: 50px;
        box-shadow: 0 3px 20px 0 #07973e3b;
    }
    button:hover{
        cursor: pointer;
    }
    
